.borderTop, .borderBottom, .borderLeft, .borderRight {
	position: fixed;
    pointer-events: none;
    z-index: 9999;
}

.borderLeft, .borderRight {
	top: 25px; bottom: 25px;
}
		
.borderTop, .borderBottom {
	left: 0; right: 0;
}

.borderLeft { left: 0; }
.borderRight { right: 0; }
.borderTop { top: 0; }
.borderBottom { bottom: 0; }